@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);


body {
    font-family: "Open Sans";
    font-weight: 700;
    background-color: #174C4F;
}

header {
    text-align: center;
    padding: 10px;
}

header div {
    padding: 5px;
}

section {
    text-align: center;
    padding: 3px;
}

button {
    background-color: #475E66;
    color: #FFFFFF;
    border: none;
    font-size: 160%;
    font-weight: 200%;
    margin-left: 20px;
}

ul {
    display: inline;
    list-style-type: none;
    padding: 0px;

}

ul li  {
    display: inline;
}

ul li p {
    display: inherit;
    color: white;
    font-size: 180%;
    font-weight: 200%;
    padding: 10px;
}

section div {
    display: block;
}

div.title {
    font-size: 500%;
    font-weight: 800;
    color: #F5E9BE;
}

div.desc {
    font-size: 200%;
    color: #F5E9BE;
    font-weight: bold;
}

div.text {
    display: inline;
    color: #F5E9BE;
    font-size: 180%;
    font-weight: 200%;
}

div.times {
    padding-top: 30px;
    padding-bottom: 10px;
}

/* Style for <span> element of dropdown */
.dropSpan {
    background-color: #475E66;
    color: #FFFFFF;
    padding: 3px;
    font-size: 160%;
    width: 100%;
    font-weight: 200%;
    font-style: italic;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
}

/* Div that is hidden until the user calculates time */
.hidden {
    display: none;
    margin: 0px;
}

/* Positions the dropdown content within the containing <div> */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Actual dropdown content, hidden until hovered over */
.dropdown-content {
    display: none;
    position: absolute;
    font-size: 160%;
    font-weight: 200%;
    background-color: #475E66;
    margin-top: 3px;
    width: 100%;
    overflow: auto;
    z-index: 9999;
}

/* Style for the <p> elements in the dropdown. 
No padding or margin so they are right next to each other*/
.dropdown-content p {
    display: block;
    padding: 0px;
    margin: 0px;
}

/* Changes background color of selection on hover, 
so you know what element you are selecting */
.dropdown-content p:hover {
    background-color: #9E9B9B;
}

/* Shows the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}